{% extends "base.html" %}

{% block title %} Results {% endblock title %}

{% block content %}

    <div class="container">

        {% if player_guess == secret_number %}

            <h2>Congratulations!!</h2>
            <p>You've guessed it!</p>
            <p>Secret number is: {{secret_number}}</p>

            <button type="button" class="btn">
                <a href="/">Play again</a>
            </button>

        {% else %}

            <h2>Wrong guess!!</h2>
            <p>Your last guess: {{player_guess}}</p>

            {% if player_guess > secret_number %}
                <p>Try something smaller!</p>
            {% endif %}

            {% if player_guess < secret_number %}
                <p>Try something bigger!</p>
            {% endif %}

             <button type="button" class="btn">
                <a href="/">Guess again</a>
            </button>

        {% endif %}
    </div>

{% endblock content %}